:root {
    background-color: azure;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* h1 {
    text-align: center;
}

h2 {

} */

.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.button {
    font-size: 20px;
    padding: 5px;
    width: 150px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid white;
    background-color: purple;
    color: white;
    text-decoration: none;
    margin: 5px;
    text-align: center;
}